@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    margin: 0;
    padding: 0;
}
h1,h2{
    font-size: 3rem;
    color:  hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    /* color: hsl(238, 22%, 44%);
    color: hsl(224, 93%, 58%);
    color: hsl(170, 45%, 43%);
    color: hsl(240, 75%, 98%);
    color: hsl(0, 0%, 75%); */
}

header{
    /* border: 1px solid red; */
    width: auto;
    height: 150px;
}

header .header-nav{
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
    height: 100px;
}

head .wrapper-logo{
    width: 0;
    margin: 30px;
}


header .header-nav .nav--left{
    display: flex;
    list-style: none;
    margin: 30px;
    padding: 0;
}

header .header-nav .nav--left li a{
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color:  hsl(243, 87%, 12%);
}



/* @media screen and (max-width:375px){
    header{
        border: 1px solid red;
        width: 365px;
    }
} */